{% extends 'base.html.twig' %}

{% block title %}flights - Nouvel ulitisateur{% endblock %}

{% block body %}

<section class="hero-form">
    <div class="hero-form-content">
        <h1>Nouvel utilisateur</h1>
    </div>
</section>
   
    <section class="container py-5 justify-content-center">
        <div class="row justify-content-center">
            <div class="col-7 text-left" tyle="padding:20px;">

                {{ form_start(registrationForm) }}


                <div class="mb-3">
                    {{ form_label(registrationForm.username)}}
                    {{ form_widget(registrationForm.username) }}
                    <div class="error m-1">{{ form_errors(registrationForm.username) }}</div>
                </div>
                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword) }}
                    {{ form_widget(registrationForm.plainPassword) }}
                    <div class="error m-1">{{ form_errors(registrationForm.plainPassword) }}</div>
                </div>
                <div class="mb-3">
                    {{ form_label(registrationForm.roles) }}
                    {{ form_widget(registrationForm.roles) }}
                </div>
                 <div class="mb-3 agree-terms">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms) }}
                    <div class="error m-1">{{ form_errors(registrationForm.agreeTerms) }}</div>
                </div>

                <div style="justify-self:center;">
                    <button type="submit" class="btn btn-slide-save slide-right-save mt-3">{{ button_label|default('Enregistrer') }}</button>
                </div>

             {{ form_end(registrationForm) }}
            
            </div>

            <div class="return d-flex justify-content-end">
                <a class="btn-slide slide-right m-3" href="{{ path('admin_user')}}" style="text-decoration:none;" ><i class="fa-solid fa-rotate-left"></i> Retour à la liste</a>
            </div>
        </div>
    </section>

{% endblock %}
