{{ form_start(form) }}

    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    <div class="error m-1">
        {{ form_errors(form.name) }}
    </div>

    <button class="btn btn-success m-3">{{ button_label|default('Enregistrer') }}</button>
    
{{ form_end(form) }}

